################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin/Debug/net7.0
/obj
/UnitTests/bin/Debug/net7.0
/UnitTests/obj
/Services/obj
/Services/bin/Debug/net7.0
/Core/obj
/Core/bin/Debug/net7.0
